{% extends 'base.html.twig' %}

{% block title %}Lista Pitów{% endblock %}

{% block body %}
    {% include('base.html.twig') %}
    <section class="vh-100">
{#        <div>#}
{#            <a href="/PIT-36" class="btn btn-primary">PIT-36</a>#}
{#        </div>#}
{#        <br>#}
        <div>
            <a href="/PIT-0" class="btn btn-primary">PIT-0</a><span>-Ulga na dzieci</span>
        </div>
        <br>
        <div>
            <a href="/PIT-37" class="btn btn-primary">PIT-37</a><span></span>
        </div>
    </section>

{% endblock %}