{% extends 'base.html.twig' %}

{% block title %}Spouse_detail_form{% endblock %}

{% block body %}
    {% include('base.html.twig') %}
    <section class="vh-200" style="background-color: #2779e2;">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-9">
                    <h1 class="text-white mb-4">Wprowadź dane osobowe</h1>
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body">
                            <form action="/spouse_detail" method="post" >
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Imię</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="name" name="name" class="form-control " placeholder="Wprowadź imię">

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Nazwisko</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control " type="text" id="surname" name="surname" placeholder="Wprowadź nazwisko"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">PESEL</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="pesel" name="pesel" pattern="[0-9]{11}" title="Numer PESEL musi składać się tylko z cyfr i mieć długość 11 znaków." placeholder="Wprowadź PESEL" required><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Data urodzenia</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="date" id="birth_date" name="birth_date" placeholder="Wprowadź Data urodzenia"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Kraj</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="country" name="country" placeholder="Wprowadź Kraj"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Województwo</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="voivodeship" name="voivodeship" placeholder="Wprowadź Województwo"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Miasto</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="town" name="town" placeholder="Wprowadź Miasto"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Gmina</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="commune" name="commune" placeholder="Wprowadź Gmina"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Powiat</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="county" name="county" placeholder="Wprowadź Powiat"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Ulica</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="street" name="street" placeholder="Wprowadź Ulica"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Numer domu</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="house_number" name="house_number" placeholder="Wprowadź Numer domu"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Numer lokalu</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="apartment_number" name="apartment_number" placeholder="Wprowadź Numer lokalu"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="row align-items-center pt-4 pb-3">
                                    <div class="col-md-3 ps-5">

                                        <h6 class="mb-0">Kod pocztowy</h6>

                                    </div>
                                    <div class="col-md-9 pe-5">

                                        <input class="form-control" type="text" id="zip_code" name="zip_code" placeholder="Wprowadź Kod pocztowy"><br>

                                    </div>
                                </div>
                                <hr class="mx-n3">
                                <div class="px-5 py-4">
                                    <button type="submit" class="btn btn-primary" value="Wyślij" href="/user" >Zatwierdź</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <script>
        document.querySelector("#pesel").addEventListener("change", function(event) {
            var pesel = event.target.value;
            var peselRegex = /^[0-9]{11}$/;
            var errorDiv = document.createElement("div");
            errorDiv.classList.add("error");
            errorDiv.innerText = "Numer PESEL musi składać się tylko z cyfr i mieć długość 11 znaków.";
            if (!peselRegex.test(pesel)) {
                document.querySelector("#pesel").after(errorDiv);
            } else {
                document.querySelector(".error").remove();
            }
        });


    </script>
{% endblock %}